.content{
    width: 80vw;
    display:flex;
    padding: 50px;
}
.header {
    display: flex;

}
.header h1 {
    color: #4E80CF;
font-family: 'Roboto', sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 0px 5px 0px 30px;
} 
.waffle-container{
    width: 50vw;
    height: 50vh;
}

.Deals-container1{
    border-radius: 15px;
border: 4px solid #8BE594;
background: #FDFDFD;
    margin: 30px;
    width: 19vw;
    height: 18vh;
}

.Deals-container1 h3 {
    padding: 0px 11px;
}

.Deals-container1 p {
    padding: 6px 11px;
}


.Deals-container2{
    border-radius: 15px;
border: 4px solid #4E8754;
background: #FDFDFD;
    margin: 30px;
    
    width: 19vw;
    height: 18vh;

}
.Deals-container2 h3 {
    padding: 0px 11px;
}

.Deals-container2 p {
    padding: 6px 11px;
}
.Deals-container3{
    border-radius: 15px;
    border: 4px solid #DA4444;
    background: #FDFDFD;
    margin: 30px;
   
    width: 19vw;
    height: 18vh;
border-radius: 10px;
}
.Deals-container3 h3 {
    padding: 0px 11px;
}

.Deals-container3 p {
    padding: 6px 11px;
}