

.rectangle {
  margin: 10px 200px 10px 250px;   
  display: flex; 
  align-items: center; 
  justify-content: center; 
  justify-content: space-around;
  border: solid;
  width: 50vw; height: 10vh;
  background-color: white;
  border-radius: 10px; 
  border-width:2px;
  border-color: #FFDB1C;
}
.rectangle p {
  color: #2E6DB6;
  font-family: 'Inter', sans-serif;
font-size: 20px;
font-style: normal;
line-height: normal;
  display: flex; 
  justify-content: center; 
  align-items: center;
flex-shrink: 0;
width: 90%;
height: 100%;
}

.alert {
  display: flex; 
  justify-content: flex-start;
}

.inbound-stock {
display: flex; 
justify-content: center;
width: 25vw;
height: 18vh;
border-radius: 15px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.inbound-stock h3 {
  padding: 28px 0px 65px 26px;
  color: #4E80CF;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  width: 90%;
  height: 90%;
}

.inbound-container {
  margin: 10px auto;
  display: flex; 
  justify-content: center; 
  justify-content: space-evenly;
}

.Bar-container {
  width: 80%;
  height: 67%;
}
.Bar-container p {
  display: flex ;
  justify-content: center;
  color: #4E80CF;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0px;
width: auto;
height: auto;
padding-left: 100px;
}
.Bar {
  padding-left: 100px;
  width: 100%;
  height: 75%;
}

.inbound-stock img {
  display: flex;
  justify-content: center;
  
}